* {
	box-sizing: border-box;
}
body {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	background-color: antiquewhite;
	color: darkred;
}

main {
	width: 1024px;
	margin: 3rem auto;
	display: grid;
	grid-template-columns: 250px 4fr;
	grid-template-rows: 6.5rem 10rem 20rem 40%;
}

#siteLogo {
	width: 250px;
	z-index: 2;
	grid-row-start: 1;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 3;
}
img {
	width: 50%;
}

h1 {
	font-size: 5rem;
	color: blue;
	line-height: 0.8;
	margin: 3rem 0 1rem;
	grid-row-start: 1;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 3;
}

section {
	background-color: darkkhaki;
	grid-row-start: 2;
	grid-row-end: 4;
	grid-column-start: 1;
	grid-column-end: 3;
	padding: 2rem;
	display: flex;
	/* so that   they sit in row*/
	justify-content: space-between;
	align-items: flex-start;
}

section img {
	width: 460px;
	max-height: 26rem;
	/* border so that adding hover border does not move other elements*/
	border: 5px solid transparent;
}
section img:hover {
	border: 5px solid darkred;
	cursor: pointer;
}
