/* CSS HEX
--rich-black: #03071eff;
--chocolate-cosmos: #370617ff;
--rosewood: #6a040fff;
--penn-red: #9d0208ff;
--engineering-orange: #d00000ff;
--sinopia: #dc2f02ff;
--persimmon: #e85d04ff;
--princeton-orange: #f48c06ff;
--orange-web: #faa307ff;
--selective-yellow: #ffba08ff; */

body {
  background: linear-gradient(to bottom right, #6a040fff 10%, #9d0208ff 10%, #6a040fff 20%, #9d0208ff);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: goldenrod;
  width: 100%;
}
h1 {
  text-align: center;
  font-size: 60px;
  color: #ffba08ff;
  display: block;
}
button {
  width: 200px;
  padding: 10px;
  margin: 20px;
  border-radius: 16px;
  border-color: #d00000ff;
  font-size: 20px;
  color: antiquewhite;
  background-color: goldenrod;
  box-shadow: 3px 3px 3px 1px #370617ff;
  display: inline;
}
.aboutYou {
  background-color: antiquewhite;
  color: #6a040fff;
  border: 3px solid #d00000ff;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}
.aboutYou li {
  font-size: 18px;
  list-style: none;
  margin: 5px 10px;
  padding: 10px 0;
  text-align: left;
}
.aboutMyName {
  font-size: 20px;
  font-style: italic;
  margin: 0 200px;
  text-align: center;
}
.column {
  float: left;
  width: 32%;
  text-align: center; /*to centre buttons in columns*/
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.aboutMe li {
  font-size: 18px;
  margin: 5px 30px;
  padding: 5px 0;
  text-align: left;
}
.aboutMe {
  background-color: antiquewhite;
  color: #6a040fff;
  border: 3px solid #d00000ff;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}
