body {
	margin: 0;
	background-color: tomato;
	color: white;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.div1 {
	background-color: chartreuse;
	width: 100px;
	height: 100px;
	position: absolute;
	animation: leftToRight 3s linear infinite, upAndDown 4s linear infinite;
}

@keyframes leftToRight {
	0% {
		left: 0;
	}
	50% {
		left: calc(100% - 100px);
	}
	100% {
		left: 0;
	}
}
@keyframes upAndDown {
	0% {
		top: 0;
	}
	50% {
		top: calc(100%-100px);
	}
	100% {
		top: 0;
	}
}
